body{
  background-color: lightgray;
}


.box {
  height: 400px;
  padding: 20px;
  color: #fff;
  background: deepskyblue;
}

.custom-style{
  background-color: rebeccapurple;
  color: white;
  text-decoration: underline;
  text-shadow: 3px 3px 3px red;
  text-transform: uppercase;
  padding: 20px;
}

